<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <h4>My Constructions</h4>
        <button class="btn btn-primary btn-sm"><i class="bi bi-plus-circle"></i>New Construction</button>
    </div>
    <div class="account-content">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Category</th>
                        <th scope="col">Item</th>
                        <th scope="col">Description</th>
                        <th scope="col">Unity</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Delivery date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Shopping Cart</td>
                        <td>Steel for Construction</td>
                        <td>Nova Conquista Ceramic Block 09x19x19cm Red</td>
                        <td>2</td>
                        <td>100</td>
                        <td>09/13/2023</td>
                        <td>Active</td>
                        <td class="table-action">
                            <a class="view tabula-tooltip" href="#" data-title="Edit"><i class="bi-pencil"></i></a>
                            <a class="trash tabula-tooltip" href="#" data-title="Delete"><i class="bi-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Art</td>
                        <td>Blocks and Bricks</td>
                        <td>Cimento CP II E-32 50KGs Nacional</td>
                        <td>2</td>
                        <td>100</td>
                        <td>09/13/2023</td>
                        <td>Completed</td>
                        <td class="table-action">
                            <a class="view tabula-tooltip" href="#" data-title="Edit"><i class="bi-pencil"></i></a>
                            <a class="trash tabula-tooltip" href="#" data-title="Delete"><i class="bi-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Shopping Cart</td>
                        <td>Cements</td>
                        <td>Cimento CP II E-32 50KGs Nacional</td>
                        <td>2</td>
                        <td>100</td>
                        <td>09/13/2023</td>
                        <td>Active</td>
                        <td class="table-action">
                            <a class="view tabula-tooltip" href="#" data-title="Edit"><i class="bi-pencil"></i></a>
                            <a class="trash tabula-tooltip" href="#" data-title="Delete"><i class="bi-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Shopping Cart</td>
                        <td>Tiles</td>
                        <td>Nova Conquista Ceramic Block 09x19x19cm Red</td>
                        <td>2</td>
                        <td>100</td>
                        <td>09/13/2023</td>
                        <td>On hold</td>
                        <td class="table-action">
                            <a class="view tabula-tooltip" href="#" data-title="Edit"><i class="bi-pencil"></i></a>
                            <a class="trash tabula-tooltip" href="#" data-title="Delete"><i class="bi-trash"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>Art</td>
                        <td>Waterproofing</td>
                        <td>Cimento CP II E-32 50KGs Nacional</td>
                        <td>2</td>
                        <td>100</td>
                        <td>09/13/2023</td>
                        <td>On hold</td>
                        <td class="table-action">
                            <a class="view tabula-tooltip" href="#" data-title="Edit"><i class="bi-pencil"></i></a>
                            <a class="trash tabula-tooltip" href="#" data-title="Delete"><i class="bi-trash"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>